.access {
  text-align: center;
  color: green;
  font-size: 30px;;
}

.errorExist {
  text-align: center;
  color: red;
  font-size: 20;
}

.event {
  text-align: end;
}

.checkBocText {
  margin-right: 20px;
}
